@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BacktoBlack";
  src: url("../../../assets/fonts/BacktoBlack.ttf");
}

@font-face {
  font-family: "GreatVibes";
  src: url("../../../assets/fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/MontserratAlternates-Light.ttf");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../../../assets/fonts/MontserratAlternates-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../../../assets/fonts/Poppins-Regular.ttf");
}

@layer utilities {
    .selected {
        opacity: 1;
        filter: drop-shadow(0 0 0.25rem #76A8FF);
    }
}

