.auth-box{
    border: 1px solid #d1e0e0; 
    border-radius: 10px;
}

.text-primary {
    color: #2989A8 !important;
}

.btn-warning {
    background-color: #CCA829;
    border: 0;
    color: white !important;
}

.btn-warning:hover {
    background-color: #9F7C00;
}

.input-group {
    border: 1px solid #d1e0e0;
}

.input-group .form-control {
    font-size: 14px !important;
}

footer{
    font-size: 15px;
    bottom: 10px !important;
    position: absolute;
    text-align: center;
    width:100%
}

footer span {
    font-size: 14px;
}